<nav th:replace="~{fragments/geral :: cabecalho}"></nav>
<main class="container">
    <header class="auth-header">
        <h1>Gerenciar Dicionário</h1>
        <a th:href="@{/sinais/novo}" class="btn"> + Adicionar Novo Termo</a>
    </header>

    <table class="admin-table">
        <thead>
            <tr>
                <th>Termo</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sinal : ${listaSinais}">
                <td th:text="${sinal.termo}">DNS</td>
                <td><span class="badge" th:text="${sinal.categoria}">Redes</span></td>
                <td>
                    <a th:href="@{/sinais/editar/{id}(id=${sinal.id})}" class="btn-edit">Editar</a>
                    <form th:action="@{/sinais/excluir/{id}(id=${sinal.id})}" method="POST" class="inline-form">
                        <button type="submit" class="btn-delete" onclick="return confirm('Tem certeza?')">Excluir</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</main>