<main class="container">
    <header class="auth-header">
        <h1>Meus Favoritos</h1>
    </header>
    <div class="sinal-grid">
        <div class="sinal-grid">
    <div th:each="fav : ${listaFavoritos}" class="card-sinal">
        <h2 th:text="${fav.sinal.termo}">Termo</h2>

        <div class="card-actions">
            <a th:href="@{/sinais/detalhes/{id}(id=${fav.sinal.id})}" class="btn-sm">Acessar</a>

            <form th:action="@{/favoritos/remover}" method="POST" style="display: inline;">
                <input type="hidden" name="id" th:value="${fav.id}">
                <button type="submit" class="btn-danger">Remover</button>
            </form>
        </div>
    </div>
</div>
    </div>
</main>